{% extends "network/layout.html" %}
{% load static %}

{% block left-col %}
{% include "network/include/left_col.html" %}
{% endblock %}


{% block body %}
{% include "network/include/body.html" %}
{% endblock %}


{% block right-col %}
{% include "network/include/right_col.html" %}
{% endblock %}


{% block script %}
<script>
  function openChatBubble() {
    var element = document.getElementById("chat-bubble");
    element.classList.toggle("open")
  }
</script>
<script src="{% static 'network/fetch.js' %}"></script>
<script src="{% static 'network/ultility.js' %}"></script>
<script src="{% static 'network/message.js' %}"></script>

{% comment %} <script src="{% static 'weather/fetch.js' %}"></script>
<script src="{% static 'weather/app.js' %}"></script> {% endcomment %}

<script src="{% static 'network/views.js' %}"></script>
{% endblock %}
